<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>TelEduc Synchronizer</title>

<script>

function askForDataInfo()
{
	
	if (document.getElementById('mysqlRadio').checked) {
        document.getElementById('configMysqlDb').style.display = 'block';
    } else {
        document.getElementById('configMysqlDb').style.display = 'none';
    }
	
}

</script>

</head>
<body onload="askForDataInfo()">
	<h1> Temporary Page For Synchronizer</h1>
	
		<form name="whatSynchronize"method="post" action="./sync.php" >
		
			<div>
		
				<div style="display:inline-block; margin:auto">
					<p>
						Please select where the external data is comming from.
					</p>
					
					<input id="mysqlRadio" type="radio" onclick="javascript:askForDataInfo()" name="serverType" value="SERVER_TYPE_MYSQL" checked> Mysql Database<br>
					<div id="configMysqlDb" style="display:block;  margin-left:2em;">
					
						
						<p>
							Please complete the external mysql database information below.
						</p>
					
						Host: <input type="text" name="dbHost" value="localhost"><br>
						Port: <input type="text" name="dbPort" value="3306"><br>
						Database's Name: <input type="text" name="dbName" value=""><br>
						Login: <input type="text" name="dbLogin"><br>
						Password: <input type="password" size="25" name="dbPassword"><br>
						
						
					</div>
					<input type="radio" onclick="javascript:askForDataInfo()" name="serverType" value="json" > JSON file<br>
					<input type="radio" onclick="javascript:askForDataInfo()" name="serverType" value="xml"> XML file<br>	
					<input type="radio" onclick="javascript:askForDataInfo()" name="serverType" value="SERVER_TYPE_REST"> Rest interface<br>	
					<input type="radio" onclick="javascript:askForDataInfo()" name="serverType" value="csv"> CSV file<br>
				
					<!-- <input type="text" name="db" value="Type identifier of source (Ex.: Database name or file name)"><br> -->
				
				</div>
				
				
			</div>	
			
			<br>
			<p>
				Please select what do you want to syncronize.
			</p>		
		
			<input type="checkbox" name="targets[]" value="users" checked> Users<br>
			<input type="checkbox" name="targets[]" value="courses"> Courses<br>
			<input type="checkbox" name="targets[]" value="coursemember"> Members of courses<br>
			 
			<br>
			 
			<input type="submit" value="Synchronize!" />
		</form>
		  
	
</body>
</html>